body {
    margin: 10px;
    padding: 10px;
}

header {
    border-bottom: 1px solid #000;
    padding: 0 1em;
}
nav {
    max-width: 800px;
    margin: 0 auto;
}
nav>ul {
    display: inline-flex;
    text-align: center;
    list-style-type: none;
    justify-content: space-around;
    
}
nav>ul>li
{
    margin: 0 10px;
    padding: 0;
}


.social-networks>ul {
    display: flex;
    text-align: center;
}
header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
    text-size-adjust: 40px;
}
ul {
    text-align: center;
    text-emphasis-color: blue;

}

section {
    text-align: center;
}

footer {
    text-align: center;
}

.media-section {
    padding: 2em;
    background: #f00;
}

/* don't edit things via github editor */
.dirty {
    height: 400px;
    width: 700px;
}
button {
    width: 15em;
    font-size: 16px;
}
@media screen and (min-width: 800px) {
    body {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 700px)
  {
      textarea {
          width: 90%;
      }
  }

  @media screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
    textarea {
        border: 1px solid black;
    }
    button {
        width: 90%;
        margin-top: 0.5em;
    }
  }


